<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.gebruiker.tafelsoefenen">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".TrophyEarnedActivity"></activity>
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".CalculateActivity"
            android:windowSoftInputMode="stateVisible" />
        <activity android:name=".SpecificActivity" />
        <activity android:name=".ResetActivity" />
        <activity android:name=".InfoActivity" />
        <activity android:name=".ResultActivity" />
        <activity android:name=".ResultListActivity" />
        <activity android:name=".BeginActivity" />
        <activity android:name=".ResultListSpecificActivity" />
        <activity android:name=".TrophyActivity" />
        <activity android:name=".TrophySpecificActivity" />
    </application>

</manifest>